USE [master]
GO
/****** Object:  Database [TransactionDetails]    Script Date: 5/14/2022 10:20:45 AM ******/
CREATE DATABASE [TransactionDetails]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TransactionDetails', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TransactionDetails.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TransactionDetails_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TransactionDetails_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TransactionDetails].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TransactionDetails]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: 5/14/2022 10:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[Client_ID] [varchar](10) NULL,
	[Client_Name] [varchar](50) NULL,
	[Amount] [int] NULL,
	[Transaction_Ref] [varchar](10) NULL,
	[Transaction_Date] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
